
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important; 
}
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 5px;
  border: 2px solid white;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
:root {
  --preto_00: #000000;
  --vermelho_00: #F51F2B;
  --cinza_00: #898989;
  --cinza_01: #ECECEC;
}
html {
  scroll-behavior: smooth;
}
strong {
  font-weight: 600;
}
body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: -6px -6px 10px rgba(0, 0, 0, 0.3) inset, 4px 4px 14px rgba(255, 255, 255, 0.2) inset;
  z-index: 1;
  pointer-events: none;
}
.container {
  position: relative;
  width: 340px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 12px 12px 40px rgba(0, 0, 0, 0.8);
  background: #1f1f1f;
}
.max__width {
  width: calc(100% - 200px);
  max-width: 1200px;
  margin: auto;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  transition: .3s;
  cursor: pointer;
}
a:hover {
  transition: .3s;
  opacity: 0.6;
}
/* Header */
header * {
  transition: .3s;
  color: white;
}
[active] {
  color: var(--vermelho_00) !important;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  background: #1f1f1f;
  color: white;
  z-index: 20;
}
.header__logo {
  display: flex;
  flex-direction: column;
}
.header__name {
  font-weight: 600;
  font-size: 24px;
}
.header__description {
  font-weight: 300;
  font-size: 14px;
}
.header__name span {
  color: var(--vermelho_00);
}
.header__container {
  display: flex;
  align-items: center;
  gap: 100px;
}
.header__links {
  display: flex;
  gap: 24px;
}
.header__link {
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: .3s;
  gap: 24px;
}
.header__link:hover {
  transition: .3s;
  color: var(--vermelho_00);
}
.header__a {
  font-size: 20px;
}
.header__redes {
  display: flex;
  gap: 8px;
}
.header__redes img {
  width: 22px;
  height: 22px;
  transition: .3s;
  cursor: pointer;
}
.header__redes img:hover {
  opacity: .6;
  transition: .3s;
}
.header__hamburger, .header__close {
  display: none;
}
.header__hamburger {
  position: absolute;
  right: 20px;
  top: 14px;
}
header * {
  transition: 1s !important;
}
.menu--open .header__container {
  animation: 1s openMenu forwards;
  transform: translateX(-100vw);
}
@keyframes openMenu {
  from { transform: translateX(-100vw) }
  to { transform: translateX(0) }
}
.menu--open .header__container {
  animation: 1s openMenu forwards;
  transform: translateX(-100vw);
}
.menu--close .header__container {
  animation: 1s closeMenu forwards;
  transform: translateX(0);
}
.menu--close.menu--open {
  opacity: 0;
}
@keyframes openMenu {
  from { transform: translateX(-100vw) }
  to { transform: translateX(0) }
}
@keyframes closeMenu {
  from { transform: translateX(0) }
  to { transform: translateX(-100vw) }
}
@media screen and (max-width: 1200px) {
  .header__links {
    gap: 12px;
  }
  .header__container {
    gap: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .header__description, .header__links, .header__redes {
    display: none;
  }
  .header__name {
    font-size: 14px;
  }
  
  .header__hamburger {
    display: block;
  }

  /* Menu para mobiles */
  .menu--open {
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    z-index: 20;
    gap: 0;
  }
  .menu--open .header__description, .menu--open .header__links, .menu--open .header__redes, .menu--open .header__close {
    display: block;
  } 
  .menu--open .header__hamburger {
    display: block;
  }
  .menu--open .header__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: initial;
    left: 0;
    top: 0;
    background: white;
    width: 80vw;
    height: 100%;
  }
  .menu--open .header__links {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .menu--open .header__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 20px;
  }
  .menu--open .header__link, .menu--open .header__redes {
    padding: 0 20px;
  }
  .menu--open .header__redes {
    gap: 24px;
  }
  .menu--open .header__redes {
    margin: 30px 0;
  }
  .menu--open hr {
    width: calc(100% - 40px);
    margin: auto;
  }
  .menu--open .header__link:hover {
    background-color: rgb(209, 209, 209);
  }
  .menu--open .header__redes img {
    width: 24px;
    height: 24px;
    opacity: 0.8;
  }
  .menu--open .header__redes {
    margin: 30px auto;
    display: flex;
    gap: 14px;
  }
  .menu--open .header__close {
    position: absolute;
    right: 18px;
    top: 1px;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  .menu--open .header__close:hover {
    opacity: 0.4;
  }
  .header__right {
    backdrop-filter: blur(4px);
  }
}
/* Zoom */
.popup__zoom {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c7c7c7;
  overflow: hidden;
  cursor: grab;
}
.popup__zoom * {
  transition: .2s;
}
.popup__zoom--img {
  position: absolute;
  width: 100%;
  height: max-content;
  pointer-events: none;
  width: 100%;
  user-select: none;
}
.popup__zoom--ctn {
  width: 100%;
  height: 100%;
}
.cellBtns {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 56px;
  width: 100%;
  background: #1f1f1f;
  padding: 0 30px;
}
.mapa__data {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  top: 70px;
  left: 10px;
  width: max-content;
  height: 36px;
  border: none;
  background: white;
  z-index: 2;
  border-radius: 50px;
  padding: 0 20px;
  color: #656565;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 21;
}